################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KingSurvaival/KingSurvaival/bin/Debug
/KingSurvaival/KingSurvaival/obj/Debug
